
<!-- Intro Start -->

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <h1 class="brand-heading">&nbsp;</h1>
            <h1 class="brand-heading">&nbsp;</h1>
            <span class="intro-text">{{ content }}</span>
            <h5>&nbsp;</h5>
            <a href="#{{ site.pages_list['About'] }}" class="page-scroll">
              {% if site.me-img contains "https://" %}
                <img class="img-me" src="{{ site.me-img }}" alt="">
              {% else %}
                <img class="img-me" src="{{site.baseurl}}{{ site.me-img }}" alt="">
              {% endif %}
            </a>
            <h5>&nbsp;</h5>
            <ul class="list-inline social-buttons">
              <li><a href="mailto: arshiya@virginia.edu"><i class="fa fa-envelope fa-fw"></i></a></li>
              <li><a href="https://github.com/arshiyaansari"><i class="fa fa-github fa-fw"></i></a></li>
              <li><a href="https://www.linkedin.com/in/arshiya-ansari/"><i class="fa fa-linkedin fa-fw"></i></a></li>
              <li><a href="https://twitter.com/arshiyaansari7"><i class="fa fa-twitter fa-fw"></i></a></li>
              <li><a href="{{site.baseurl}}/arshiya-cv.pdf">cv</a></li>
          </ul>
          </div>
        </div>
    </div>
    <a class="down" href="#about" data-scroll><i class="btn fa fa-chevron-down" aria-hidden="true"></i></a>
  </div>
</header>

<!-- Intro End -->
