    <!-- testimonials
    ================================================== -->
    <div class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">Things that Shape Me</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <img src="images/avatars/jr.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__author h06">
                        Stanford Jump Rope Team
                        <!-- <span>CEO, Apple</span> -->
                    </div>
                    <p>I've been performing and competing with the Stanford Jump Rope team since my earliest days at Stanford. We do crazy flips and stunts, dance in double dutch, and jump on our butts!</p>

                </div>

                <div class="testimonials__slide">
                    <img src="images/avatars/wics.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__author h06">
                        Stanford Women in Computer Science
                        <!-- <span>CEO, Google</span> -->
                    </div>
                    <p>This community has shaped my journey at Stanford both personally and professionally. As the Co-President my junior year, I had the honor of working with hundreds of women in CS that I admired. </p>

                </div>

                <div class="testimonials__slide">
                    <img src="images/avatars/zion-min.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__author h06">
                        Wilderness photography
                        <!-- <span>CEO, Microsoft</span> -->
                    </div>
                    <p>When I'm out in wild landscapes, I'm home. When the breeze grazes my cheeks, when the pine needles whistle above, when the water rumbles below. To capture the sublimity of nature is to inspire awe, to preserve the land. </p>

                </div>

                <div class="testimonials__slide">
                    <img src="images/avatars/guitar-min.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__author h06">
                        Recording Covers
                        <!-- <span>CEO, Microsoft</span> -->
                    </div>
                    <p> During quarantine, I picked up the guitar to sing with and haven't put it down since. If I'm not working or hiking, odds are I'm learning the fingerstyle to a new song. Annie's song. Landslide. Cherry Wine.</p>

                </div>

                <div class="testimonials__slide">
                    <img src="images/avatars/food-min.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__author h06">
                        Searing Steaks
                        <!-- <span>CEO, Microsoft</span> -->
                    </div>
                    <p> I grew up around Chinese food, but spent countless hours soaking up culinary knowledge from The Food Network. I find cooking to be a form of art, and love to apply my creativity to classic dishes and make them my own. </p>

                </div>
                <div class="testimonials__slide">
                    <img src="images/avatars/piano.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__author h06">
                        Piano
                        <!-- <span>CEO, Microsoft</span> -->
                    </div>
                    <p> While my competition days are behind me, nothing beats the expression that Liszt, Chopin, and Debussy had intended for their music. That these pieces retain their beauty and power for hundreds of years is a marvel.</p>

                </div>
                <div class="testimonials__slide">
                    <img src="images/avatars/firenze-min.jpg" alt="Author image" class="testimonials__avatar">
                    <div class="testimonials__author h06">
                        Travel
                        <!-- <span>CEO, Microsoft</span> -->
                    </div>
                    <p> I am forever grateful for the opportunity to travel. To be a part of cultures that are not my own, places that I did not know, beauty I cannot comprehend. These experiences make for insane stories. These are the lessons extend beyond the classroom.</p>

                </div>

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div> <!-- end s-testimonials -->
